<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="IncomingFolder" value="C:\TransTrack\Warehouses\North\Incoming"/>
		<add key="ProcessedFolder" value="C:\TransTrack\Warehouses\North\Processed"/>
		<add key="ErrorsFolder" value="C:\TransTrack\Warehouses\North\Errors"/>
		<add key="LogFilePath" value="C:\TransTrack\Logs\system.log"/>

		<add key="CloudinaryCloudName" value="transtrack"/>
		<add key="CloudinaryApiKey" value="122228527847842"/>
		<add key="CloudinaryApiSecret" value="U0WquOQkNSVUG4N6Xd60oSKjueQ"/>
	</appSettings>
</configuration>